/* STANDARD */

#big-picture {
	background: #000000;
	background-size: cover;
	background-position: center;
	font-family:
		Arial,
		Bebas Neue;
	color: #ffffff;
}

#big-picture .big-picture-conditions {
	background: rgba(255, 255, 255, 0.1);
	padding: 1rem;
	border-radius: 14px;
	flex-direction: row;
	justify-content: space-around;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.big-picture-conditions > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.big-picture-conditions .value {
	font-size: 1rem;
	margin-top: 0.25rem;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.big-picture-conditions .label {
	font-size: 1rem;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.label {
	font-size: 1.5rem;
}

.value {
	font-size: 3rem;
}
